@using DFF.Freedom.Web.Views.Shared.Components.LeftMenu
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            @await Component.InvokeAsync(typeof(LeftMenuViewComponent), new { activeMenu = ViewBag.CurrentPageName })
        </ul>
    </div>
</div>